# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# React Native / Metro
.metro-health-check*
.expo-shared/

# Native builds
android/
ios/
.gradle/
build/
*.apk
*.aab

# Kotlin / Java
.kotlin/
*.orig.*
*.jks

# iOS specific
*.xcworkspace
*.xcuserstate
*.xcuserdata
Pods/

# Certificates & provisioning
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# macOS
.DS_Store

# Local environment files
.env*
.env*.local

# TypeScript
*.tsbuildinfo

# Logs
*.log
